html{
overflow-x: hidden;
}

@media only screen and (min-width: 768px) {

#loginBtn
{
    color: white;
    width: 6%;
    background-color: transparent;
    border-color: transparent;
    float:right;
 
}
#cartBtn
{
    color: white;
    width: 6%;
    background-color: transparent;
    border-color: transparent;
    float:right;

}

#cartBuyBtn
{
    background-color:#ff6600;
    border-color: transparent;
}

#CartH
{
    text-align:center;
    color:#ff6600;
}


.navButton
{
    margin: 2%;
}
.card
{
    margin: 1%;
    width: 30%;
}
.header
{
     background: linear-gradient(to bottom, #ffcc00 0%, #ff0066 100%);
    height:220px;

}
#shopName
{
    font-family: 'Lily Script One';font-size: 300%;
    text-align: center;
    color: white;
    padding-top: 4%;
}
.SearchBar
{
     
    float: right;
    height: 70%;
    
    
}
.search
{
    border-radius: 25px;
    width: 70%;
    border-color:#bf8040;
}


.cardImg
{
    width:100%;
    height:100%;
        
}
.card-title
{
    font-family: 'Lily Script One';font-size: 155%;
}

#BuyDBtn
{
    background: linear-gradient(to bottom, #ffcc00 0%, #ff0066 100%);
    border-color: transparent;
    float:right;
}
.price
{
    color: #ff6600;
    font-weight:bold;
}

#navLink
{
    color: #ff6600;
    font-size: 27px;
    padding-left:40px;
    font-family: sans-serif;
    
    
}
#searchBtn
{
    color: white;
    background-color: #ff6600;
    border:#ff6600;
    font-size: 20px;
   
}






.buyBtn
{
 
  float: right;
}


/* login.html */
    


#loginPage
{
    width:25%;
    margin-left: 38%;
    padding: 2%;
}
#loginHeader
{
    text-align: center;
}

#loginPassword
{
    width:70%;
    padding-left: 30%;

}
#loginSubmit
{
    margin-left: 48%;
    background: linear-gradient(to bottom, #ffcc00 0%, #ff0066 100%);
    border-color: transparent;

}

#ForgotPasword
{
    margin-left: 45.5%;
    background: linear-gradient(to bottom, #ffcc00 0%, #ff0066 100%);
    border-color: transparent;

}

/* userdeatils.html */



/*#month,#year
{
    padding-top: 5.7%;
}
#SN,#NOC
{
    padding-top: 3%;
}
#submitOrder
{
    margin: 3%;
    margin-left: 40%;
    background: linear-gradient(to bottom, #ffcc00 0%, #ff0066 100%);
    border-color:transparent;

}
*/
 /*Basket*/

#cartLogo
{
    text-align: center;
    color: #ff6600;
     padding-top: 5%;
     font-size: 55px;
    
    
}

#cartIcon
{
    align-content: center;
    
}



.productBasket
{
    border: 5px solid #ff6600;
    margin:2%;
    background-color:beige;
    padding:2%;
    font-size: 30px;
    text-align: center;
}

/* popup */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Contact page*/

.col1
{
    color: orange;
}
.col2
{
    margin-right:5px;
}
.Conta
{
     font-size:25px;
   margin-left:10px;
    padding:1%;
    padding-left:5%;
  
}
#contactHeader
{
    padding:1%;
    padding-left:5%;
    
}

/*AboutUs.html*/
#aboutUs
{
    text-align: center;
    padding: 10%;
    font-size:40px;
}
#aboutUsH
{
    font-size:50px;
    color: #ff6600;
}
#totalTitle
{
    padding-left:42%;
    
}

#totalTitle,#TotalCheckout
{
    font-size:40px;
    display: inline;
 
}
#CheckoutDetails
{
    padding-left:20%;

}
.inputFields
{
    width:250%;
}
.inputTitle
{
    font-size:25px;
}
.COTitle
{
   padding-left:50%;
    color: #ff6600;
    margin-left:60%;
}
.inputForm
{
width:100%;
}

#buy-button
{
    background-color:#ff6600;
    font-size:20px;
padding:2%;
    border-color: transparent;
    margin-left:110%;
    margin-bottom:20%;
    
}
}

@media only screen and (min-width: 576x) {
  /* For tablets: */
  /*index*/

.card
{
    margin: 1%;
    width: 40%;
}
}

@media only screen and (min-width: 320x) {
  /* For tablets: */
  /*index*/

.card
{
    margin: 10%;
    width: 30%;
}
}















